@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@600&family=Ubuntu:wght@500&display=swap');


body{

    background: linear-gradient(to right, #0052D4, #65C7F7, #9CECFB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.welcome{
    font-family: 'Maven Pro', sans-serif;
    color: rgb(245, 237, 237);
    margin-top: 2px;
    font-weight: 100px;


}

.hi{
    font-size: 4rem;
    font-family: 'Ubuntu';
    color:rgb(3, 4, 51);
    font-weight: bolder
}


.landing{
    text-align: center;
    margin:auto;
    margin-top: 5rem;
}

#para{
    font-family: 'Ubuntu', sans-serif;
    color: #0001f4;
    font-weight: 400;
}

#quote{
    border-radius: 9px;
    padding: 5px;
    width: 84px;
    color: #1f1f1f;
    font-weight: bold;
    border-radius: 12px;
    margin: auto;
    font: 'ubuntu';
    cursor: grab;
    background-color: transparent;
    text-align: center;
    border:2px solid  black;
}

#quote:hover{
    color:white;
}

#quote{
    transition: box-shadow 400ms ease-in-out, color 300ms ease-in-out;
}

#quote:hover{
    box-shadow: 0 0 40px 40px rgb(3, 4, 51) inset;
} 
/* quote======================================== */
/* #getquote{
    border-radius: 9px;
    padding: 5px;
    width: -1px;
    color: #1f1f1f;
    font-weight: bold;
    border-radius: 12px;
    margin: auto;
    font: 'ubuntu';
    cursor: grab;
    background-color: transparent;
    text-align: center;
    border:2px solid  black;
}

#getquote:hover{
    color:white;
}

#getquote{
    transition: box-shadow 400ms ease-in-out, color 300ms ease-in-out;
}

#getquote:hover{
    box-shadow: 0 0 40px 40px rgb(3, 4, 51) inset;
}  */